{% extends 'base.html' %}

{% block title %}Registro Artesano{% endblock %}

{% block css %} 
<link rel="stylesheet" 
type="text/css" 
href="{{ url_for('static', filename='css/artesano.css')}}">
{% endblock %}

{% block content %}
    <div class="container" id ="val-box" hidden>
        <h2 id="val-msg"></h2>
        <ul id="val-list"></ul>
    </div>

    <div class="container">
        <form class="formulario" method= "post" enctype="multipart/form-data" id="reg-artesano">

            <div id = "region-menu" class="input_usuario">
                    
                <label for="region">Elige tu region de participacion</label> <br>
                
                <select name="region" id="region">
                    <script>
                        let arr = ['Región de Tarapacá', 'Región de Antofagasta', 'Región de Atacama', 'Región de Coquimbo', 'Región de Valparaíso', 'Región del Libertador Bernardo Ohiggins', 'Región del Maule', 'Región del Biobío', 'Región de La Araucanía', 'Región de Los Lagos', 'Región Aisén del General Carlos Ibáñez del Campo', 'Región de Magallanes y la Antártica Chilena', 'Región Metropolitana de Santiago', 'Región de Los Ríos', 'Región Arica y Parinacota', 'Región del Ñuble']
                        arr.forEach(element => {
                            document.write("<option value='"+element+"'>"+element+"</option>");
                        });
                    </script>
                </select>
            
            </div>

            <div id = "comuna-menu" class="input_usuario">
                
                <label for="comuna">Comuna donde resides.</label> <br>
                
                <select name="comuna" id="comuna"></select>
            </div>


            <div class="multiselect">
                Seleccionar artesanias que elabora:
                <div class="selectBox" onclick="showCheckboxes()">
                    <select>
                    <option>Seleccione una artesania</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                    <script>
                        let artearr = ["mármol", "madera", "cerámica", "mimbre", "metal", "cuero", "telas", "joyas", "otro tipo"];
                        for (arte of artearr) {
                            document.write("<label for='"+arte+"'><input type='checkbox' name=artesania[] id='"+arte+"' value='"+arte+"'/>"+arte+"</label>");
                        }
                    </script>
                </div>
            </div>

            <div id="comentarios-menu" class="input_usuario">
                <label for="comentarios">Comentarios de sus artesanias (opcional)</label> <br>
                
                <textarea id="comentarios" name="comentarios" rows="4" cols="50"></textarea>
            </div>

            <div id="files-menu" class="input_usuario">
                <label for="files">Subir fotos de tus artesanias</label> <br>
                <input type="file" name="files[]" id="files" multiple>
            </div>

            <div id="nombre-menu" class="input_usuario">
                    
                <label for="nombre">Tu nombre</label> <br>

                <input type="text" id="nombre" name="nombre" minlength="3" required>

            </div>

            <div id="mail-menu" class="input_usuario"> 

                <label for="myemail">Tu email</label> <br>

                <input type="email" id="myemail" name="myemail" required>
            </div>

            <div id ="number-menu" class="input_usuario">
                <label for="mynumber">Tu numero (opcional)</label> <br>
                <input type="text" name="mynumber" id="mynumber">
            </div>
            
            <div class="botones">
                <button type="button" id="enviar">
                    Registrar artesano
                </button>
            </div>
        </form>
    </div>
    <div id="msg-ready" class="container" hidden></div>
{% endblock %}
{% block javascript %}
<script src="{{url_for('static', filename='js/agregar-artesano.js')}}"></script>
{% endblock %}
