{% extends 'base.html' %}

{% block title %}Registro Hincha{% endblock %}

{% block css %} 
<link rel="stylesheet" 
type="text/css" 
href="{{ url_for('static', filename='css/hincha.css')}}">
{% endblock %}

{% block content %}
    <div class="container" id ="val-box" hidden>
        <h2 id="val-msg"></h2>
        <ul id="val-list"></ul>
    </div>
    {% if error%}
    <p>{{error}}</p>
    {% endif %}
    <div class="container">
        <form class="formulario" method= "post" enctype="multipart/form-data" id="reg-hincha">

            <div class="multiselect">
                Seleccionar deportes de interes:
                <div class="selectBox" onclick="showCheckboxes()">
                    <select>
                    <option>Seleccione un deporte</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                    <script>
                        let sportsArray = ["Clavados","Natación","Natación artística","Polo acuático","Natación en Aguas abiertas","Maratón","Marcha","Atletismo","Bádminton","Balonmano","Básquetbol","Básquetbol 3x3","Béisbol","Boxeo","Bowling","Breaking","Canotaje Slalom","Canotaje de velocidad","BMX Freestyle","BMX Racing","Mountain Bike","Ciclismo pista","Ciclismo ruta","Adiestramiento ecuestre","Evento completo ecuestre","Salto ecuestre","Escalada deportiva","Esgrima","Esquí acuático y Wakeboard","Fútbol","Gimnasia artística Masculina","Gimnasia artística Femenina","Gimnasia rítmica","Gimnasia trampolín","Golf","Hockey césped","Judo","Karate","Levantamiento de pesas","Lucha","Patinaje artístico","Skateboarding","Patinaje velocidad","Pelota vasca","Pentatlón moderno","Racquetball","Remo","Rugby 7","Sóftbol","Squash","Surf","Taekwondo","Tenis","Tenis de mesa","Tiro","Tiro con arco","Triatlón","Vela","Vóleibol","Vóleibol playa"];  
                        for (sport of sportsArray) {
                            document.write("<label for='"+sport+"'><input type='checkbox' name=deportes[] id='"+sport+"' value='"+sport+"'/>"+sport+"</label>");
                        }
                    </script>
                </div>
                </div>

            <div id = "region-menu" class="input_usuario">
                
                <label for="region">Elige tu region de participacion</label> <br>
                
                <select name="region" id="region">
                    <script>
                        let arr = ['Región de Tarapacá', 'Región de Antofagasta', 'Región de Atacama', 'Región de Coquimbo', 'Región de Valparaíso', 'Región del Libertador Bernardo Ohiggins', 'Región del Maule', 'Región del Biobío', 'Región de La Araucanía', 'Región de Los Lagos', 'Región Aisén del General Carlos Ibáñez del Campo', 'Región de Magallanes y la Antártica Chilena', 'Región Metropolitana de Santiago', 'Región de Los Ríos', 'Región Arica y Parinacota', 'Región del Ñuble']
                        arr.forEach(element => {
                            document.write("<option value='"+element+"'>"+element+"</option>");
                        });
                    </script>
                </select>
            
            </div>

            <div id = "comuna-menu" class="input_usuario">
                
                <label for="comuna">Comuna donde resides.</label> <br>
                
                <select name="comuna" id="comuna"></select>
            </div>

            <div id = "transporte-menu" class="input_usuario">

                <label>Medio de transporte.</label> <br>

                <div id="transport-checkbox">
                    <input type="checkbox" name="transporte[]" id="privado" value="particular">
                    <label for="privado">Privado</label> <br>
                    <input type="checkbox" name="transporte[]" id="publico" value="locomoción pública">
                    <label for="publico">Transporte publico</label> <br>
                </div>

            </div>

            <div id="nombre-menu" class="input_usuario">
                
                <label for="nombre">Tu nombre</label> <br>

                <input type="text" id="nombre" name="nombre" minlength="3" required>

            </div>

            <div id="mail-menu" class="input_usuario"> 

                <label for="myemail">Tu email</label> <br>

                <input type="email" id="myemail" name="myemail" required>
            </div>

            <div id ="number-menu" class="input_usuario">
                <label for="mynumber">Tu numero (opcional)</label> <br>
                <input type="text" name="mynumber" id="mynumber">
            </div>

            <div id="comentarios-menu" class="input_usuario">
                <label for="comentarios">Comentarios (opcional)</label> <br>
                
                <textarea id="comentarios" name="comentarios" rows="3" cols="50"></textarea>
            </div>
            <div class="botones">
                <button type="button" id="enviar">
                    Registrar Hincha
                </button>
            </div>
        </form>
    </div>
    <div id="msg-ready" class="container" hidden></div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/agregar-hincha2.js')}}"></script>
{% endblock %}