{% extends 'base.html' %}

{% block title %}Menu principal{% endblock %}

{% block css %} 
<link rel="stylesheet" 
type="text/css" 
href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Juegos Paramericanos Santiago 2023</h1>
        <div class="botones">
            <a href="{{ url_for('agregar_artesano') }}"><button type="button">Registrar Artesano</button></a><br>
        </div>
        <div class="botones">
            <a href="{{ url_for('agregar_hincha') }}"><button type="button">Registrar Hincha</button></a><br>
        </div>
        <div class="botones">
            <a href="{{ url_for('ver_artesanos', offset=0) }}"><button type="button">Ver Artesanos</button></a><br>
        </div>
        <div class="botones">
            <a href="{{ url_for('ver_hinchas', offset=0) }}"><button type="button">Ver Hinchas</button></a>
        </div>
        <div class="botones">
            <a href="{{ url_for('stats') }}"><button type="button">Ver Estadisticas</button></a>
        </div>
        {% if error %}
        <div class="error-msg">
            {{error}}
        </div>
    {% endif %}
    </div>
{% endblock %}
