{% extends 'base.html' %}

{% block title %}Informacion Artesano{% endblock %}

{% block css %} 
<link rel="stylesheet" 
type="text/css" 
href="{{ url_for('static', filename='css/artesano.css')}}">
{% endblock %}

{% block content %}
    {% if artesano %}
    <a href="{{url_for('ver_artesanos', offset=0)}}"><button id="backbutton">Volver a informacion</button></a>

    <div class="container" style="display: flex; flex-direction: column; gap: 15px;">
        
            <div id = "region-menu" class="input_usuario">
                    
                La region de participacion es: <br>
                {{artesano.region}}
            </div>

            <div id = "comuna-menu" class="input_usuario">
                
                La comuna donde reside es: <br>
                {{artesano.comuna}}
            </div>


            <div id="artesanias-que-tiene" class="input_usuario">
                Las artesanias que elaboran son: <br>
                <ul>
                    {% for tipo in artesano.tipo_artesanias %}
                    <li>{{tipo}}</li>
                    {% endfor %}
                </ul>
            </div>


            <div id="comentarios-menu" class="input_usuario">
                Comentarios extra: <br>
                {{artesano.descripcion_artesania}}
            </div>

            <div id="files-menu" class="input_usuario">
                Las fotos de sus artesanias son: <br>
                {% for imagen in artesano.imagenes %}
                    <img src="{{imagen}}" alt="foto de {{artesano.nombre}}">
                {% endfor %}
            </div>

            <div id="nombre-menu" class="input_usuario">
               Su nombre es: <br>
               {{artesano.nombre}}
            </div>

            <div id="mail-menu" class="input_usuario"> 
                Su correo es: <br>
                {{artesano.mail}}
            </div>

            <div id ="number-menu" class="input_usuario">
                {% if artesano.numero %}
                Su numero de telefono es: <br>
                {{artesano.numero}}
                {% else %}
                No tiene numero de telefono <br>
                {% endif %}
            </div>
    </div>
    {% else %}
    <p>Este artesano no esta registrado!</p>
    {% endif %}
{% endblock %}