<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/hincha.css">
        <title>Registro Hincha</title>
    </head>
    <body>
        <a href="ver-hinchas.html"><button id="backbutton">Volver a informacion</button></a>

        <div class="container" style="display: flex; flex-direction: column; gap: 15px;">

                <div id="deportes-que-tiene" class="input_usuario">
                    los deportes que hace son: <br>
                    basquetball, ciclismo, futbol
                </div>

                <div id = "region-menu" class="input_usuario">
                    la region desde donde participa es: <br>
                    Coquimbo
                </div>

                <div id = "comuna-menu" class="input_usuario">
                    la comuna desde donde participa es: <br>
                    La Serena
                </div>

                <div id = "transporte-menu" class="input_usuario">
                    los medios de transporte que usa es: <br>
                    Publico
                </div>

                <div id="nombre-menu" class="input_usuario">
                    Su nombre es: <br>
                    Pedro
                </div>

                <div id="mail-menu" class="input_usuario"> 
                    Su correo es: <br>
                    pedro@xd.cl
                </div>

                <div id ="number-menu" class="input_usuario">
                    Su numero de telefono es: <br>
                    1232456677
                </div>

                <div id="comentarios-menu" class="input_usuario">
                    Comentarios extra: <br>
                </div>

        </div>
    </body>
</html>