{% extends 'base.html' %}

{% block title %}Registro Hincha{% endblock %}

{% block css %} 
<link rel="stylesheet" 
type="text/css" 
href="{{ url_for('static', filename='css/ver-hincha.css')}}">
{% endblock %}

{% block content %}
    <a href="{{ url_for('menu') }}"><button id="backbutton">Volver a menu</button></a>
    <h1>Tabla de hinchas registrados</h1>
    <table style="width:100%;">
        <tr>
            <th>Nombre</th>
            <th>Comuna</th>
            <th>Deportes</th>
            <th>Modo Transporte</th>
            <th>Numero celular</th>
        </tr>
        {% if hinchas %}
            {% for hincha in hinchas %}
                <tr>
                    <td><a href="{{url_for('informacion_hinchas', hincha_id=hincha.hincha_id)}}">{{hincha.nombre}}</a></td>
                    <td>{{hincha.nombre_comuna}}</td>
                    <td>
                        <ul>
                            {% for tipo in hincha.tipo_deportes %}
                            <li> {{tipo}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{hincha.tipo_transporte}}</td>
                    <td>{{hincha.numero}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a href="{{url_for('ver_hinchas', offset=offset+5)}}">
        <button id = "backbutton"> Siguientes 5 Hinchas</button>
    </a>
{% endblock %}