{% extends 'base.html' %}

{% block title %}Registro Artesano{% endblock %}

{% block css %} 
<link rel="stylesheet" 
type="text/css" 
href="{{ url_for('static', filename='css/ver_artesano.css')}}">
{% endblock %}

{% block content %}
    <a href="{{ url_for('menu') }}"><button id="backbutton">Volver a menu</button></a>
    <h1>Tabla de artesanos registrados</h1>
    <table style="width:100%;">
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Comuna</th>
            <th>Tipo artesanias</th>
            <th>Fotos</th>
        </tr>
        {% if artesanos %}
        {% for artesano in artesanos %}
            <tr>
                <td><a href="{{url_for('informacion_artesanos', artesano_id=artesano.artesano_id)}}">{{artesano.nombre}}</a></td>
                <td>{{artesano.numero}}</td>
                <td>{{artesano.nombre_comuna}}</td>
                <td>
                    <ul>
                        {% for tipo in artesano.tipo_artesanias %}
                        <li>{{tipo}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td><img src="" alt="foto de {{artesano.nombre}}"></td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <a href="{{ url_for('ver_artesanos', offset=offset+5)}}"><button id="backbutton">Siguientes 5 Artesanos</button></a>
{% endblock %}